.review-order-container {
  display: flex;
}
.review-title {
  margin-top: 100px;
}
.checkout-container {
  display: flex;
  width: 600px;
  border: solid;
  border-width: 1px;
  border-color: rgb(218, 218, 218);
  border-radius: 5px;
  background-color: white;
  padding: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.order-sum-row {
  width: 400px;
}

.delivery-date {
  font-size: 1.2em;
  font-weight: bold;
  color: rgba(0, 32, 68, 0.849);
}
.delivery-image {
  width: 100px;
  height: 100px;
  margin-right: 15px;
}
.delivery-name {
  width: 260px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.delivery-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.delivery-details-container {
  display: flex;
}
.delivery-details-container .delivery-image,
.delivery-details-container .delivery-control {
  display: inline-block;
}
.delivery-update-quantity p {
  display: inline-flex;
  margin-right: 2px;
}
.quantity-input {
  width: 33px;
  height: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-right: 10px;
  border-width: 1px;
  display: none;
  outline: none;
  overflow: hidden;
}
.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity-amount {
  display: initial;
  margin-left: 5px;
  margin-right: 5px;
}
.save-link {
  display: none;
  cursor: pointer;
  margin-left: 5px;
  font-size: var(--font-size-primary);
  text-decoration: none;
  background: rgba(160, 160, 160, 0.54);
  color: var(--text-color-primary);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 2px solid rgba(160, 160, 160, 1);
}
.update-link,
.delete-link {
  cursor: pointer;
  margin-left: 5px;
  font-size: var(--font-size-primary);
  text-decoration: none;
  background: rgba(160, 160, 160, 0.54);
  color: var(--text-color-primary);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 2px solid rgba(160, 160, 160, 1);
}
.editing-container .update-link,
.editing-container .quantity-amount {
  display: none;
}
.editing-container .save-link,
.editing-container .quantity-input {
  display: initial;
}
.delivery-option {
  margin-left: 15px;
}
.delivery-period-1 {
  display: flex;
  cursor: pointer;
}
.delivery-period-1 input {
  margin-right: 10px;
  margin-bottom: 15px;
}
.orderSummaryItem {
  display: flex;
  justify-content: space-between;
}
.order-summary-container {
  margin-left: 10px;
  padding: 15px;
  border: solid;
  border-width: 1px;
  border-color: rgb(218, 218, 218);
  background-color: white;
  border-radius: 5px;
}
@media (max-width: 997px) {
  .checkout-container {
    flex-direction: column;
    justify-content: center;
    width: 350px;
  }
  .review-order-container {
    flex-direction: column;
  }
  .order-sum-row {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .review-title {
    text-align: center;
  }
  .order-summary-container {
    margin-left: 0px;
  }
}
