* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* p {
  color: var(--text-color-primary);
}
:root {
  --font-size-primary: 0.855rem;
  --font-size-secondary: 0.71rem;
  --text-color-primary: rgb(1, 5, 10);
}
.products-main-container {
  background-color: white;
  color: black;
}
.product-container {
  margin: 10px 5px;
  padding-top: 20px;
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 1);
  border-width: 1px;
  border-color: rgb(167, 167, 167);
}
.product-img {
  text-align: center;
}
.product-img img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 5px;
}
.product-description {
  height: 50px;
}
.product-description p {
  margin-bottom: 0;
  width: auto;
  max-height: 120px;
  font-size: var(--font-size-primary);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: visible;
}
.product-rating {
  margin-top: 10px;
}
.product-rating-stars,
.product-rating p {
  display: inline-block;
}
.product-rating p {
  cursor: pointer;
  color: rgb(0, 140, 255);
  margin-left: 10px;
  margin-bottom: 0;
  font-size: var(--font-size-secondary);
}
.product-price {
  font-size: var(--font-size-primary);
  margin-bottom: 0;
  margin: 10px 0;
}
.product-rating p:hover {
  text-decoration: underline;
  color: brown;
}
.product-rating img {
  width: 80px;
}
.product-input select {
  background: rgba(121, 121, 121, 0.43);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid rgba(121, 121, 121, 1);
  width: 45px;
  border-radius: 6px;
  padding: 0 8px;
  margin-bottom: 20px;
  color: rgb(73, 73, 73);
  outline: none;
}
.input-atc-card {
  display: flex;
  justify-content: space-between;
}
.add-to-cart-btn button {
  width: 45px;
  border: none;
  height: 25px;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 6px;
  background-color: rgba(0, 32, 68, 0.849);
  margin-bottom: 20px;
  color: white;
  transition: transform 0.1s ease-in-out;
  font-size: var(--font-size-secondary);
}

.add-to-cart-btn button:active {
  transform: translateY(1px);
}

@media (max-width: 769px) {
  .product-description p {
    font-size: var(--font-size-secondary);
  }
}
.search-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-not-found img {
  width: 40%;
}
.filter-function {
  margin: 40px 30px;
}
.js-filtering-container {
  display: flex;
  gap: 30px;
}
.filter-container p {
  margin-bottom: 0;
}
.radio-selector {
  background: rgba(64, 64, 64, 0.42);
  border-radius: 13px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(64, 64, 64, 1);
  font-size: var(--font-size-primary);
  padding: 5px;
}
