* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: "arial", "san-seriff";
}
.top-collection-title {
  text-align: center;
  font-size: 5vw;
  text-wrap: nowrap;
}
.navbar {
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
}
.cart-css {
  position: absolute;
}
.total-quantity {
  position: relative;
  bottom: -8px;
  left: 40px;
  color: brown;
  font-weight: bold;
}
.title-get-start {
  margin-top: 10%;
}
.title-get-start img {
  width: 120%;
}
.title-get-start p {
  font-size: 20px;
  font-weight: lighter;
}
.title-get-start h1 {
  font-size: 6vh;
}
@media (max-width: 1199px) {
  .title-get-start {
    margin-top: 20%;
  }
  .title-get-start p {
    font-size: 3vh;
  }
}
@media (max-width: 999px) {
  .title-get-start h1 {
    font-size: 6vh;
  }
  .top-collection-title {
    font-size: 6vh;
  }
  .title-get-start p {
    font-size: 2.6vh;
  }
}
@media (max-width: 900px) {
  .title-get-start {
    display: flex;
    flex-direction: column;
  }
  .title-get-start img {
    width: 80%;
  }
  .title-get-start {
    text-align: center;
  }
  .title-get-start h1 {
    font-size: 6vh;
  }
  .title-get-start p {
    font-size: 2.6vh;
  }
  .title-get-start img {
    margin-top: 20px;
  }
}
@media (max-width: 400px) {
  .title-get-start h1 {
    font-size: 4vh;
  }
  .title-get-start p {
    font-size: 2vh;
  }
  .top-collection-title {
    font-size: 4vh;
  }
}
.title-get-start button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: white;
  color: var(--text-color-primary);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgb(167, 167, 167);
  font-size: var(--font-size-primary);
}
main {
  margin-top: 5%;
}

.clear-radio-selector {
  cursor: pointer;
}
